@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"); /* must be above tailwind import */
@import "tailwindcss";

/* Global reset */
* {
  box-sizing: border-box;
}

/* App root */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

/* Base body defaults */
body {
  font-family: "Space Mono", monospace, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: slatescale;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}   

@theme {
  --color-primary-emerald: #10B981; /* emerald-400 */
  --color-secondary-emerald: #d1fae5;
  --color-tertiary-emerald: #dbeae1;
  --color-primary-emerald-text: #34D399; /* emerald-400 */
  --color-secondary-emerald-text: #047857; /* emerald-700 */

  --color-primary-rose: #e34549; /* rose-500 */
  --color-secondary-rose: #FFF1F2; /* rose-50 */
  --color-tertiary-rose: #fbdddc;
  --color-primary-rose-text: #e34549;
  --color-secondary-rose-text: #BE123C; /* rose-700 */ 

  --color-primary-blue: #5560e5;
  --color-secondary-blue: #7068e8;
  --color-tertiary-blue: #eeeffc;

  --color-primary-bg: #f8fafc;

  --color-primary-slate: #687181;
  --color-secondary-slate: #f1f5f9; /*slate-100*/
  --color-primary-slate-text: #64748b; /*slate-500*/
  --color-secondary-slate-text: #94a3b8; /*slate-400*/

  --font-monospace: "Space Mono", monospace, "sans serif";
}
